<%- if @id %>
  console.log('done!')
  var div = $("[data-id=<%= @id %>]")
  $("input[value^='<%= @section_id %>']").remove()
  div.html("<span>lugar disponible</span>").removeClass('ready').addClass('placeholder')
  $(input).remove

<% end %>