- unless @posts.empty?
  - radio = @type == "especial" ? true : false
  $(".search-news##{@type} table tbody").html("#{escape_javascript(render partial: 'admin/portadas/search_res', collection: @posts, as: 'post', locals: { radio: radio })}")
  $( ".draggable" ).draggable({ connectToSortable: ".droppable", helper: "clone", revert: "invalid" });
