.single_article_content
  %h5
    %a{:href => "http://angelguardian.mx/beta/wp-content/uploads/2012/03/ventas.jpg"}
      %img.aligncenter.size-full.wp-image-100076{:alt => "", :height => "150", :src => "http://angelguardian.mx/beta/wp-content/uploads/2012/03/ventas.jpg", :title => "ventas", :width => "600"}/
  %h5
    %span{:style => "color: #003366;"} Dirección de Noticias
  %ul
    %li
      %span{:style => "color: #99cc00;"}
        %strong Director General RadioLevy:
      Roberto F. Levy.
    %li
      %span{:style => "color: #99cc00;"}
        %strong Director de Noticias:
      Dorian Levy Lavalle.
    %li
      %span{:style => "color: #99cc00;"}
        %strong Gerente Operativo:
      Martha Michel.
    %li
      %span{:style => "color: #99cc00;"}
        %strong Coordinador de Información:
      Edgar Torres.
    %li
      %span{:style => "color: #99cc00;"}
        %strong Coordinador de Radio:
      Ramón Santana.
    %li
      %span{:style => "color: #99cc00;"}>
        %strong> Diseño:
        \ 
      Omar Bobadilla y Alberto Valle.
    %li
      %span{:style => "color: #99cc00;"}>
        %strong Editores Web:
      \ Luis Tadeo y Fernando Castillo.
    %li
      %span{:style => "color: #99cc00;"}>
        %strong Producción:
      \ Xiomara Espinosa.
    %li
      %span{:style => "color: #99cc00;"}>
        %strong Reporteros:
      Eduardo Calderón, Zorayda Castro, Javier Barragán, César Barrera y Xiomara Espinosa.
    %li
      %span{:style => "color: #99cc00;"}
        %strong Fotografía:
      Sergio ‘Tapiro’ Velasco.
    %li
      %span{:style => "color: #99cc00;"}>
        %strong Staff:
      \ Brenda Torres y Gabriela Álvarez.
  %p
    %span{:style => "font-size: 13px;"}
  .brdr2
  %p
  %p  
  %p
    %strong Somos el futuro, ahora 
  %p México necesita cambiar. La reciente reforma a las telecomunicaciones impacta directamente en la manera en que los mexicanos nos comunicamos. Al fomentarse la inversión, la competencia y el desarrollo tecnológico, todos esperamos mayor oferta y diversidad. Recibiremos más calidad a mejores precios. Este gran paso convierte a los medios en un sector referente que marca tendencia y moviliza los esfuerzos financieros de una importante rama del empresariado.
  %p En estos casi 73 años de existencia, en RadioLevy hemos vivido con nuestros clientes desastres naturales y desastres sexenales. Aprendimos que la inflación, las crisis y devaluaciones, nos afectan, pero no determinan nuestro día a día. Asimilamos que el trabajo bien hecho ofrece recompensas.
  %p En RadioLevy nos sentimos orgullosos de ser partícipes de tantas historias de éxito. Negocios que como nosotros, comenzaron con una pequeña sede, pero que con gran esfuerzo, ahora son corporativos, tienen sucursales, franquician, y a través de las generaciones, son protagonistas del crecimiento y desarrollo de nuestra entidad.
  %p Colima cambia, crece. Llegan más empresarios, y con ellos, se consolidan inversiones. Pasamos de provincia pequeña a ciudad emergente, y la iniciativa privada ha jugado un rol trascendental para mejorar la calidad de vida de todos. En RadioLevy estamos orgullosos de ser de Colima y convertir la visión de nuestros anunciantes en realidad. Por confiar en nosotros: ¡gracias!. En RadioLevy, somos el futuro, ahora.
  %p
    %em Dorian Levy Lavalle
  %p
    %iframe{:frameborder => "no", :height => "166", :scrolling => "no", :src => "https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F89170268&show_artwork=true&maxwidth=0&maxheight=166&show_comments=false&color=005F83&theme_color=005F83", :width => "100%"}
  %p
    %strong
      %br/
    %span{:style => "font-size: 13px;"}
  .brdr2
  %p
  %p  
