.single_article_content
  %p
  %center
    %img{:alt => "", :src => "http://angelguardian.mx/beta/wp-content/uploads/2012/03/ventas.jpg"}/
    %br/
    %iframe{:frameborder => "no", :height => "166", :scrolling => "no", :src => "https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F89170268&color=000000&auto_play=true&show_artwork=false", :width => "600"}
    %p
    %p{:style => "text-align: center;"}
      %a{:href => "http://angelguardian.mx/beta/wp-content/uploads/2012/03/contactanos.png"}
        %img.aligncenter.size-full.wp-image-106114{:alt => "", :height => "150", :src => "http://angelguardian.mx/beta/wp-content/uploads/2012/03/contactanos.png", :title => "Contáctanos", :width => "600"}/
    %p
  %br/
  \ 
  %p
