.clearfix
- if @portada.police_notes.any?
  - if @portada.police_notes.last.post
    .dato-del-dia.policiaca.pull-left
      = link_to main_app.post_path(*@portada.police_notes.last.post.url_params) do
        = raw @portada.police_notes.last.title