@main-gray: #4A4540;
footer.main_footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 5px;
  background: black;

  .footer-links {
    margin: 0;
    margin-top: 10px;
    li {
      display: inline;
      a {color: white;}
      .bigger {
        font-size: 1.2em;
      }
    }
    li + li:before{
      content: " | ";
      padding: 0 5px !important;
      color: white;
    }

  }
  .radio-levy {
  }
}
.pluginCountButton.pluginCountNum {
  background: black;
border: none;
color: white;
}
