@import 'twitter/bootstrap/mixins';
@main-gray: #4A4540;

header {
  padding: 10px 0;

  .banner_a {
    margin-bottom: 10px;
    display: block;
  }

  .top {
    margin-bottom: 10px;
    background-color: black;
    color: white;
    height: 50px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 100;
    h1 {
      background-color: #FFEC00;
      font-size: 25px;
      text-transform: uppercase;
      margin: 0;
      font-weight: normal;
      display: inline-block;
      color: black;
      line-height: 50px;
      padding: 0 8px;
      float: left;
      i {
        font-weight: bold;
        font-style: normal;
      }

    }
    .misc-top {
      float: right;
      margin-top: 15px;
      .social-counts {
        display: inline-block;
        margin-right: 10px;
        position: relative;
        top: -3px;
        a {
          background: url('/assets/header/social-sprite.png') no-repeat transparent;
          display: inline-block;
          height: 25px;
          width: 25px;
          text-indent: -9999px;
          margin-left: 5px;
          &:hover {
            text-decoration: none;
          }
          &.fb {
            background-position: 0 0;
          }
          &.twt {
            background-position: -33px 0;
          }
        }
        .count {
          display: inline-block;
          color: white;
        }
      }
      .search-field {
        display: inline-block;
      }
      .search-label {
        display: inline-block;
        margin-left: 6px;
        margin-top: 3px;
        position: absolute;
      }
      input {
        height: 10px;
        width: 170px;
        .border-radius(5px);
      }
      .today { display: none}
    }
    &.inner-pages {
      text-align: left;
      padding: 10px;
      h1 {
        float: left;
        margin-top: 20px;
      }
      h3 {
        float: left;
        margin-left: 110px;
        font-size: 3em;
        margin-top: 14px;
      }
      .search {
        float: right;
        margin-top: 24px;
        margin-right: 10px;
        .today {
          display: block;
          margin-left: 31px;
        }
      }
    }

  }
  ul li {
    display: inline-block;
    text-transform: capitalize;
    width: 117px;
    a {
      display: block;
      text-align: center;
    }
  }
  ul.nav {
    margin-bottom: 10px;
    margin-top: 50px;
    li.elements {
      font-size: 14px;
      border: 1px solid #C3C1C0;
      border-color-top: transparent;
      border-color-bottom: transparent;
      margin-right: 4px;
      &:last-child {
        margin: 0;
      }
      a {
        background: black;
        color: #E5E4E4;
        &:hover {
          background: #E5E4E4;
          color:  @main-gray;
          text-decoration: none;

        }
      }
    }
  }
  ul.es-noticia {
    margin: 0;
    margin-bottom: 11px;
    li.es-noticia-links {
      border: 1px solid #F1F2F2;
      color: black;
      font-size: 11px;
      margin-right: 4px;

      &:first-child {
        background: #FFE400;
        border-color: #FEE02B;
        text-align: center;
      }
      &:last-child {
        margin:0;
      }
      a {
        background: #FAFBFD;
        color: black;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &:hover {
          text-decoration: none;
        }

      }
    }
  }
}
