@import 'twitter/bootstrap/mixins';
.content {
  section article {
    border-bottom: 2px solid #F2F2F2;
    padding-bottom: 10px;
    margin-bottom: 10px;
    .header {
      margin: 20px 0 15px 0;
      img {
        margin-right: 5px;
        margin-bottom: 5px;
        float: left;
      }
      h2 {
        font-size: 21px;
        line-height: 25px;
        margin: 5px 0 10px 0;
        &.titulo-tag {
          font-size: 14px;
        }
        a {
          color: #000000;
          font-weight: 700;
          &:hover {
            color: #000000;
          }
        }
      }
      img.size-a ~ h2 {
        font-size: 30px;
        line-height: 29px;
      }
      img.size-b + h2 {
        font-size: 23px;
        line-height: 25px;
        margin: 0 0 10px 0;
      }
      img.size-d + h2 {
        font-size: 20px;
        line-height: 20px;
        margin: 0 0 10px 0;
      }
      img.size-e ~ h2 {
        font-size: 19px;
        line-height: 20px;
        margin: 0 0 10px 0;
      }
      img.size-f ~ h2 {
        font-size: 15px;
      }
      img.size-f {
        display: block;
        float: none;
      }
      img.size-g ~ h2 {
        font-size: 12px;
        font-weight: 300;
        line-height: 15px;
      }
      img.right {
        float: right;
      }


      p {
        margin: 0;
        color: #6B6764;
        font-size: 12px;
      }
      p.cintillo {
        text-transform: uppercase;
      }
      p.date {
        font-size: 11px;
        margin-top: 6px;
      }

      .resumen {font-size: 13px;}

    }


    .resumen {
      color: #A1A1A0;
      font-size: 13px;
      background: url('/assets/resumen-more-icon.gif') no-repeat right bottom ;
      padding-bottom: 10px;
      &:hover {
        cursor: pointer;
      }

    }


    ul.related{
      background: #F2F4F4;
      width: 100%;
      margin: 20px 0;
      li {
        list-style: none;
        background: url('/assets/related-bullet.gif') no-repeat center left transparent;
        border-bottom: 1px solid #EEF0F0;
        line-height: 27px;
        padding-left: 20px;
        font-size: 11px;
        &:last-child {
          border: none;
        }
        a {
          color: #858686;
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          &:hover {
            text-decoration: none;
          }
        }

      }
    }
    &.plumas {
      background: #EEEEEE;
      box-sizing: border-box;
      padding: 9px;
      h4, p { margin: 0}

    }

  }
}
.content.portada {
  section {
    margin-bottom: 20px;
    .column {
      display: inline-block;
      float: left;
      width: 380px;
      padding-right: 10px;
      margin-right: 10px;
      border-right: 2px solid #F2F2F2;
      &:last-child {
        padding-right: 0;
        border-right: none;
        margin-right: 8px;
      }
      }
    .today {

      font-size: 1.2em;
    }
  }

}

.portada .section_a {
  article.noticia-a {


    header {
      .lectura-rapida {

      }
    }
  }
  article.noticia-b {}
  article.noticia-c {}
  article.noticia-d {}
  article.noticia-e {}
  article.special {
    .top {
      background: #9B8B94;
      padding: 5px 15px;
    }
    .header {
      h2 {font-size: 16px;}
    }
    .resumen {
      color: #1F1B1D;
      background-image: url('/assets/resumen-more-icon-dark.gif');
      a {
        color: #1F1B1D;

      }
    }
    .linked {
      padding: 15px;
      background: #C2B9BE;
      img {
        float: left;
        margin-right: 10px;
      }
      p {
        color: #1B1A1A;
        font-size: 12px;
        margin-top: 10px;
      }
    }
    ul.related {
      margin-top: 0;
    }
  }

}

// section secundaria
.portada .section_b{
  article.noticia-secundaria-b, article.noticia-secundaria-c {
    float: left;
    width: 180px;
    border-bottom: none;


  }
  article.noticia-secundaria-c {
    margin-left: 4px;
    border-left: 2px solid #eaecff;
    padding-left: 14px;
  }

  article.el-tiempo {
    h2 {
      padding: 13px 10px;
      background: #FAFBFD;
      border: 1px solid #F4F4F5;
      font-size: 16px;
    }
  }
  article.mas-recientes {
    ul.related {
      margin-top: 0;
      background: none;
      li  {
        border: none;
        background-image: url('/assets/related-bullet-white.gif'); 
      }
    }
  }
}

// section policiacas
.portada section.policiacas {
  .banner-m {
    float: left;
    margin-right: 20px;
  }
  #content {
    float: left;
    width: 578px;
    h2 {
      font-size: 16px;
      margin-bottom: 0;
    }
    ul.related {
      float: left;
      width: 64%;
      margin-top: 0;
    }
    article {
      padding-bottom: 0;
      margin-bottom: 0;
      clear: both;
      .header {
       margin-top: 0;
       margin-bottom: 0;
      }
    }
    .policiaca-a .header {
      margin-top: 14px;
    }
    .titulo-bloque {
      margin: 0;
    }
  }


}

.banners-right {
  width: 180px;
  border-left: 2px solid rgb(234, 236, 255);
  padding-left: 5px;
  img {
    float: left;
    margin-bottom: 10px;
  }
}
.banners{
  margin-top: 10px;
  margin-bottom: 20px;
  display: block;
}

.dato-del-dia {
  a {
    text-align: center;
    background: url('/assets/resumen-more-icon.gif') no-repeat 750px center #eee;
    width: 770px;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    color: #4B4B4B;
    font-size: 16px;
    font-style: oblique;
    span {
      color: #000;
      font-size: 54px;
      padding: 0 3px;
      display: inline-block;
      font-style: normal;
      font-weight: bold;
    }
    &:hover {
      text-decoration: none;
    }
  }
 &.policiaca {
   margin: 20px 0;
   a{
    width: 980px;
   background-position: 950px center;
  }
 }
}
.titulo-bloque, h2.titulo-tag {
  color: #ECECEB;
  background: #4A4540;
  font-size: 14px;
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: normal;
  line-height: 22px;
}
h2.titulo-tag {
  color: #4B4205;
  background: #FFE400;
}
.categories{
  .es-noticia{
    background-color: #F1FBE6;
    min-height: 350px;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 20px 10px;
    .box {
      border-bottom: 1px solid #D0D4C3;
      padding-bottom: 10px;
    }

    h4 {
      color: black;
      font-size: 21px;
    }
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        margin-left: 5px;
        a {
          color: #000000;
        }
      }

    }
  }
}
.portada.esnoticia {
  h1 {
    text-align: center;
  }
}

.lectura-rapida {
  color: white;
  background: #396DB3;
  border: 1px solid #5181BA;
  padding: 2px 5px;
  text-transform: uppercase;
  font-size: 9px;
  .border-radius(2px);
  &:hover {
    text-decoration: none;
    color: white;
  }

  &.big{
    font-size: 12px;
  }
}

.opinion {

  h2.titulo-bloque {padding: 0 20px}
  .vlog-last {
    border-bottom: none;
    .resumen {background: none}
  }
  .vlog {
    text-align: center;
    width: 180px;
    height: 63px;
    float: left;
    margin-right: 20px;
    border-bottom: 1px solid #C0C4C7;
    &:nth-child(2n+0) {
      margin-right: 0;
    }
    &:nth-child(n+3) {
      border-bottom: none;
    }

    .author {
      color: #C0C4C7;
      font-weight: bold;
    }
  }

  .quote {
    margin-bottom: 5px;
    padding-bottom: 5px;
    a {
      color: #000000;
      &:hover {
        color: #000000;
      }
    }
    blockquote {
      background:#EEEEEE;
      margin: .5em 10px;
      padding:.5em 10px;
      quotes:"\201C""\201D""\2018""\2019";
      &:before {
        color: #4D4D4D;
        content: open-quote;
        font-size: 11em;
        line-height: 0px;
        vertical-align: -0.7em;
        font-family: Helvetica;
      }
      p {
        font-size: 16px;
        &.author {
          font-size: 14px;
        }
        &.charge {
          font-size: 12px;
        }
      }
      footer{
        background: none;
        text-align: right;

      }
    }
  }
  .opiniones{
    #opinion {
      .item {
        text-align: center;
        padding: 0 30px;
        a, a:hover {
          color: #000000;
          img {
             width: 180px;
            height: 180px;
          }
          p.balazo {
            color:  #7F7F7F;
            margin-bottom: 5px;
            font-weight: 700;
          }
        }
      }
    }
  }

}